:root {
    font-size:60px;
}

body {
    overflow-y: hidden;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0rem 0.2rem 0rem;
}

button {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    margin: 0rem 0.1rem 0rem 0.1rem;
    border-radius: unset;
}

.line div {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 0.7rem;
}

