/* Page styling for the homepage. */

/* spotlight item constrain to container */
.contentitem img,video,source {
	max-width: 100%;
}

.portfoliorow a:nth-child(1) {
	margin: 0rem 1rem 0rem 0rem;
}

.portfoliorow a:only-of-type {
	width: 100%;
	margin: 0rem 0rem 0rem 0rem;
}

.portfoliorow a {
	display: flex;
	flex-direction: column;
	width: 50%;
}

article header span:nth-child(2) {
	display: flex;
	margin: -0.6rem 0rem 1rem 0rem;
}

/* portfolio page item captions */
.portfoliorow a *:nth-child(2) {
	font-weight: 600;
	filter: blur(0.02rem) drop-shadow(0 0 0.03rem light-dark(#c0c0c0, #e3dbeb));
	font-size: 1.05rem;
	margin: 0.1rem 0rem 0rem 0rem;
}

.portfoliorow a *:nth-child(3) {
	font-size: 0.8rem;
	filter: blur(0.02rem) drop-shadow(0 0 0.03rem light-dark(#c0c0c0, #e3dbeb));
}

/* showmore dropdown */

#showmorebutton {
	width: 100%;
	font-family: Inconsolata, monospace;
	font-size: 1.2rem;
	border: none;
	background: none;
	text-decoration: none;
	filter: blur(0.02rem) drop-shadow(0 0 0.06rem light-dark(#c0c0c0, #e3dbeb));
}

#showmorebutton:hover {
	color: light-dark(#808080, #ffc5cd);
}

#showmoredropdown {
	display: none;
	flex-direction: column;
}

#showmoredropdown hr {
	width: 100%;
	margin: 1.2rem 0rem 0.6rem 0rem;
}

#showmoredropdown h2 {
	margin: 0.2rem 0rem 0.3rem 0rem;
}