/* Page styling for default portfolio pages */

article {
	font-size: 18px;
}

article header h2 {
	font-size: 30px;
}

article header span:nth-child(2),
article section span:nth-child(2) { /* Header subheading, under H2 */
	display: flex;
	text-align: justify;
	text-justify: inter-word;
	margin: -0.6rem 2em 0rem 2em;
}

article header span:nth-child(3) { /* Header author and year */
	margin: 0rem 2em 1rem 2em;
}

article hr {
	margin-left: 2em;
	margin-right: 2em;
}

article header hr {
	margin-top: 1em;
}

article p {
	text-align: justify;
	text-justify: inter-word;
	margin: 1em 2em 1em 2em;
}

article ul {
	margin: 1em 2em 1em 2em;
}

.howtolist {
	padding-left: 2em;
}

.howtolist li::marker {
	font-size: 1.17em;
	font-weight: bold;
}

.howtolist li p:first-of-type {
	margin-top: -0.6rem;
}

article a {
	text-decoration: underline;
}

article code {
	font-family: Inconsolata, Consolas, Monospace;
	color: light-dark(#916c77, #839496);
	background-color: light-dark(#f9f2f5, #073642);
	border-radius: 2px;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

article .codeblock {
	font-family: Inconsolata, Consolas, Monospace;
	display: block;
	color: light-dark(#916c77, #839496);
	background-color: light-dark(#f9f2f5, #002b36);
	border-radius: 2px;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.5em 1em 0.5em 1em;
}

article kbd {
	font-family: Inconsolata, Consolas, Monospace;
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow:
	  0 1px 1px rgba(0, 0, 0, 0.2),
	  0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}

article section {
	padding-top: 0.5em !important;
}

.portfoliorow figure figcaption {
	margin: 0.2rem 0rem 0rem 0rem;
	text-align: justify;
	text-justify: inter-word;
}

blockquote p {
	margin: 1em 0em 1em 0em;
	padding-left: 1em;
	font-style: italic;
}

blockquote {
	margin: 1.5em 4em 1.5em 3em;
	position: relative;
	top: 0;
	left: 0;
}

blockquote p::before {
	content: "“";
	position:relative;
	left: -1em;
	display: inline-block;
	width: 0;
}

blockquote p::after {
	content: "”";
	position:relative;
	right: -1em;
	display: inline-block;
	width: 0;
}

@media only screen and (max-width: 800px) {
	article {
		font-size: 16px;
	}
	article header h2 {
		font-size: 24px;
	}
	article p {
		margin: 1em 0em 1em 0em;
	}
	article hr {
		margin-left: 0em;
		margin-right: 0em;
	}
	article header span:nth-child(2),
	article section span:nth-child(2)  {
		margin: -0.6rem 0em 1rem 0em;
	}
	article ul {
		margin: 1em 0em 1em 0em;
	}
	.howtolist {
		padding-left: 1em;
	}
	article code .codeblock {
		margin-left: 0em;
		margin-right: 0em;
	}
	blockquote {
		margin: 1.5em 1em 1.5em 0em;
	}
}